@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  RescueTekniq ApS<br />
  Gefionsvej 8<br />
  3400 Hillerød<br />
  <abbr title="Telefon">T:</abbr>
  +45 48 15 28 79
</address>

<address>
    <strong>Reception:</strong>   <a href="mailto:Support@rescuetekniq.dk">Support@rescuetekniq.dk</a><br />
    <strong>Salg:</strong> <a href="mailto:Sales@rescuetekniq.dk">Marketing@rescuetekniq.dk</a>
</address>